@charset "utf-8";
/* CSS Document */
/* フルードイメージ */
img{max-width: 100%;height:auto;}
/*=================================
            共通
=================================*/
/* フォント */
h1 {
    color:#371C2A;
    font-family: "Bodoni Moda","Shippori Mincho B1", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 57px;
    letter-spacing: 0.2em;
}
h2 {
    color:#371C2A;
    font-family: "Bodoni Moda","Shippori Mincho B1", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    letter-spacing: 0.2em;
}
h3 {
    color:#371C2A;
    font-family: "Bodoni Moda","Shippori Mincho B1", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
}
h4 {
    color:#371C2A;
    font-family: "Bodoni Moda","Shippori Mincho B1", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
}
p {
    color:#371C2A;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
}
/* aタグ */
a {
  text-decoration: none;
}
/* スクロール */
html {
    scroll-behavior: smooth;
}
/* 中央に揃える */
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #F4DCF6;
}
/* view more ボタン */
.button-more a{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 230px;
    padding: 10px 0px 10px 25px;
    font-family: "Noto Sans Japanese";
    line-height: 1.8;
    text-decoration: none;
    color: #371C2A;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}
.button-more a:before, .button-more a:after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
}
.button-more a:before {
  width: 0.5rem;
  height: 0.5rem;
  left: 1.1rem;
  border-top: solid 2px #189FBA;
  border-right: solid 2px #189FBA;
  z-index: 2;
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.3s;
}
.button-more a:after {
  left: 0;
  background: #CEF1F7;
  z-index: 1;
  width: 3rem;
  height: 3rem;
  border-radius: 4rem;
  transform: translateY(-50%);
  transition: all 0.5s;
}
.button-more a p{
  position: relative;
  transition: all 0.3s;
  z-index: 3;
  color: #189FBA;
}
.button-more a:hover p{
  color: #fff;
}
.button-more a:hover:before {
  left: 2.5rem;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
}
.button-more a:hover:after {
  right: 0;
  width: 100%;
  background: #189FBA;
}

/* top戻るボタン */
.button-back a{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  background-color: #189FBA;
  border-radius: 50vh;
  transition: 0.3s;
}
.button-back a::after{
  content: '';
  width: 7px;
  height: 7px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transform: rotate(45deg);
  transition: 0.3s;
}
.button-back p{
  width: 0px;
  height: 0px;
  visibility: hidden;
}
.button-back a:hover{
  background-color: #DD5B9C;
}
.button-back a:hover::after {
  border-top: 3px solid #f2f2f2;
  border-left: 3px solid #f2f2f2;
  transform: translateY(-5px) rotate(45deg);
}
/* 丸系グラデ */
@keyframes blob_rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bg-blobs {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}
.blob {
  position: absolute;
  left: 50%;
  top: 50%;
  animation-name: blob_rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.blob::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  opacity: 0.4;
  transform: translate(-50%, -50%); 
}
.blob:nth-child(1) {
  animation-duration: 35000ms;
}
.blob:nth-child(1)::before {
  left: -150px;
  top: 150px;
  width: 350px;
  height: 350px;
  background: radial-gradient(#189FBA 0%, rgba(68, 102, 206, 0) 70%);
}
.blob:nth-child(2) {
  animation-duration: 30000ms;
  animation-direction: reverse;
}
.blob:nth-child(2)::before {
  left: 250px;
  top: -250px;
  width: 500px;
  height: 500px;
  background: radial-gradient(#9844b7  0%, rgba(249, 215, 122, 0) 70%);
}
.blob:nth-child(3) {
  animation-duration: 25000ms;
}
.blob:nth-child(3)::before {
  left: 550px;
  top: 300px;
  width: 700px;
  height: 700px;
  background: radial-gradient(#DD5B9C 0%, rgba(193, 26, 81, 0) 70%);
}

/* タイトル */

/*=================================
            ヘッダー
=================================*/
.header {
  width: 98%;
  position: fixed;
  margin: 0 auto;
  height: 70px;
  border-radius: 9999px;
  margin: 10px ; 
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px); 
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.header-inner {
  width: 100%;
  margin: 0 auto;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.header.hidden {
  opacity: 0;
  pointer-events: none; 
}
/* ロゴ */
.header-logo-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  z-index: 1000;
}
.header-logo-text {
  font-family: "Bodoni Moda", "Noto Sans JP", sans-serif;
  font-size: 16px;
  color: #DD5B9C;
}
.header-nav{
  margin-left: auto;
}
.header-nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}
.header-nav-item {
  list-style: none;
}
.header-nav-item a {
  font-family: "Bodoni Moda", "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #DD5B9C;
}
/* お問い合わせボタン */
.header-button a {
  display: flex;
  align-items: center;
  border-radius: 9999px;
  padding: 10px 25px;
  color: #fff;
  text-decoration: none;
  font-family: "Noto Sans JP", sans-serif;
  background: linear-gradient(270deg, #189FBA, #576fe6, #9844b7, #DD5B9C);
  background-size: 200% auto;
  transition: all 0.3s ease-out;
}
.header-button a:hover {
  background-position: 99% 50%;
}
/* ハンバーガーメニュー */
.header-hamburger {
  display: none;
  width: 32px;
  height: 26px;
  cursor: pointer;
  z-index: 2000;
}
.header-hamburger span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #189FBA;
  border-radius: 10px;
  margin: 5px 0;
  transition: 0.4s ease;
}
.header-hamburger.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.header-hamburger.active span:nth-child(2) {
  opacity: 0;
}
.header-hamburger.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
.header-sp-nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 60%;
  height: 100vh;
  background: #FFF0F6;
  padding: 80px 20px 120px;
  transition: 0.4s ease;
  z-index: 1500;
}
.header-sp-nav.open {
  right: 0;
}
.header-sp-nav .header-nav-list {
  list-style: none;
  padding: 0;
}
.header-sp-nav .header-nav-item {
  margin: 18px 0;
}
.header-sp-nav .header-nav-item a {
  font-size: 20px;
  color: #DD5B9C;
  text-decoration: none;
}
.header-sp-button a {
  display: block;
  background: linear-gradient(270deg, #189FBA, #576fe6, #9844b7, #DD5B9C);
  text-align: center;
  padding: 12px;
  border-radius: 9999px;
  color: #fff;
  margin-top: 40px;
}
/*=================================
            フッター
=================================*/
/*=================================
            top
=================================*/
/* 背景グラデ */
.mv {
  /* グラデ */
  background: linear-gradient(249deg, #DD5B9C, #189FBA, #CEF1F7, #FEF2FF, #F5B8CC, #9FD9F6, #FFE9F0);
  background-size: 1400% 1400%;
  animation: GradientBackground 15s ease infinite;
}
@keyframes GradientBackground {
  0% {
  background-position: 0% 50%;
  }

  50% {
  background-position: 100% 50%;
  }

  100% {
  background-position: 0% 50%;
  }
}
.mv {
  display: flex;
  height: 300vh;
  background: linear-gradient(90deg, #FDE7F5, #A7DCE7);
}

.mv-left {
  width: 40%;
  position: relative;
}

.mv-right {
  width: 60%;
  padding-top: 20vh;
}

.sticky {
  position: sticky;
  top: 20vh; /* 画面上からどの位置に固定するか調整できる */
}

/* キャッチのデザイン */
.mv-catch h1 {
  font-size: 34px;
  line-height: 1.7;
  color: silver;
}

/* 画像共通 */
.mv-photo {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s ease;
  margin-bottom: 200px; /* 写真の間隔を調整 */
}

.mv-photo img {
  width: 80%;
  border-radius: 16px;
}

/* フェードイン時のクラス */
.mv-photo.show {
  opacity: 1;
  transform: translateY(0);
}

/*=================================
            menu
=================================*/
/*=================================
            menu詳細
=================================*/
/*=================================
            profile
=================================*/
/*=================================
            blog
=================================*/
/*=================================
            contact
=================================*/
/*=================================
            privacy
=================================*/

/* ======================メディアクエリ始まり=========================*/
@media(width<760px){
/*=================================
            共通
=================================*/
  /* 丸系グラデ */
  .blob:nth-child(1)::before {
    left: -50px;
    top: 50px;
    width: 250px;
    height: 250px;
  }
  .blob:nth-child(2)::before {
    left: 150px;
    top: -150px;
    width: 350px;
    height: 350px;
  }
  .blob:nth-child(3)::before {
    left: 450px;
    top: 150px;
    width: 500px;
    height: 500px;
  }
/*=================================
            ヘッダー
=================================*/
/* ハンバーガーメニュー */
  .header-nav,
  .header-button {
    display: none;
  }
  .header-hamburger {
    display: block;
  }
  .header-nav-list{
    flex-direction: column;
    gap: 15px;
  }
  .header-sp-button{
    margin: 0 auto;
    width: 200px;
  }
/*=================================
            フッター
=================================*/

/*=================================
            top
=================================*/
/*=================================
            menu
=================================*/
/*=================================
            menu詳細
=================================*/
/*=================================
            profile
=================================*/
/*=================================
            blog
=================================*/
/*=================================
            contact
=================================*/
/*=================================
            privacy
=================================*/
}
/* ======================メディアクエリ終わり=========================*/